*~
.pypirc
.coverage
.idea*
*.swp
*.pyc
logs/
.DS_Store
.\#*
\#*\#
playbooks/*.retry
*_private_token
*_private_token.*
ops_vault_password
ops_vault_password.*
zabbix_api_password
zabbix_api_password.*
vars/local.yml
.venv/*
.dir-locals.el
/etc/
/chapps.egg-info/
docs/build/**
docs/source/*rst
!docs/source/index.rst
!docs/source/todolist.rst
