aiosmtpd==1.4.2
anyio==3.5.0
asgiref==3.5.0
atpublic==2.3
attrs==21.2.0
bleach==4.1.0
build==0.7.0
certifi==2021.10.8
cffi==1.15.0
chapps==0.3.5
charset-normalizer==2.0.7
click==8.0.4
colorama==0.4.4
coverage==5.5
cryptography==36.0.1
Deprecated==1.2.13
dnspython==2.1.0
docutils==0.18.1
expiring-dict==1.1.0
fastapi==0.74.1
gunicorn==20.1.0
h11==0.13.0
httptools==0.3.0
idna==3.3
importlib-metadata==4.11.2
iniconfig==1.1.1
jeepney==0.7.1
keyring==23.5.0
mariadb==1.0.7
MarkupSafe==2.1.0
packaging==21.0
pep517==0.12.0
pkginfo==1.8.2
pluggy==1.0.0
psutil==5.8.0
py==1.10.0
pycparser==2.21
pydantic==1.9.0
Pygments==2.11.2
pyparsing==2.4.7
pyspf==2.0.14
pytest==6.2.5
pytest-asyncio==0.15.1
pytest-cov==2.12.1
pytest-order==1.0.0
pytest-services==2.2.1
python-dotenv==0.19.2
python-pidfile==3.0.0
PyYAML==6.0
readme-renderer==32.0
redis==4.1.4
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==2.0.0
SecretStorage==3.3.1
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
starlette==0.17.1
toml==0.10.2
tomli==2.0.1
tqdm==4.63.0
twine==3.8.0
typing-extensions==4.1.1
urllib3==1.26.7
uvicorn==0.17.5
uvloop==0.16.0
watchgod==0.7
webencodings==0.5.1
websockets==10.2
wrapt==1.13.3
zc.lockfile==2.0
zipp==3.7.0
