[Unit]
Description=CHAPPS REST API
# Requires=chapps-api-gunicorn.socket
After=network.target

[Service]
Type=simple
#Type=notify # for using UDS w/ nginx + gunicorn
User={service_roleaccount}
Group={service_rolegroup}
RuntimeDirectory=gunicorn
WorkingDirectory={service_home}
ExecStart={gunicorn_invocation} chapps.rest.api:api \
 --workers 16 --max-requests 10 \
 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:8080
# --bind unix:/run/gunicorn.sock
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
{env_settings_lines}

[Install]
WantedBy=multi-user.target
