[Unit]
Description=CHAPPS Outbound multi Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=chapps
ExecStart=/usr/bin/env python3 /usr/local/bin/chapps_outbound_multi

[Install]
WantedBy=multi-user.target
RequiredBy=postfix.service
