[Unit]
Description={service_description}
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={service_roleaccount}
ExecStart={python_invocation} {service_exec_path}
{env_settings_lines}

[Install]
WantedBy=multi-user.target
RequiredBy=postfix.service
